body{
    width:100%;height:100%;

    position:absolute;
    left:0px;top:0px;

    box-sizing:border-box;
    margin:0px;padding:0px 0px 100px 0px;

    box-sizing:border-box;

    background:#0A0A0A;
    color:#FFFFFF;

    overflow:auto;
}

.secundaryContainer{
    width:100%;height:100%;

    position:absolute;
    left:0px;top:0px;

    box-sizing:border-box;
    margin:0px;padding:0px;

    box-sizing:border-box;

    background:#0A0A0A;

    overflow:hidden;
    z-index:1;
}

.mainContainer{
    width:100%;height:100%;

    position:absolute;
    left:0px;top:0px;

    box-sizing:border-box;
    margin:0px;padding:0px 0px 100px 0px;

    box-sizing:border-box;

    background:none;
    color:#FFFFFF;

    overflow:auto;
    z-index:2;
}

.bibleIcon{
    width:96px;height:96px;

    position:relative;
    left:0px;top:0px;

    margin:15px 0px 0px calc(50% - 48px);
    padding:0px;
}

h1{
    width:calc(100% - 30px);height:auto;

    position:relative;
    left:0px;top:0px;

    margin:10px 0px 0px 15px;
    padding:0px;

    font-family:Arial;
    font-weight:1000;
    font-size:22px;
}

.bibleText{
    width:calc(100% - 30px);height:auto;

    position:relative;
    left:0px;top:0px;

    margin:10px 0px 0px 15px;
    padding:0px;

    font-family:Arial;
    font-weight:normal;
    font-size:17px;
}

.anotherText{
    width:calc(100% - 30px);height:auto;

    position:relative;
    left:0px;top:0px;

    margin:20px 0px 0px 15px;
    padding:0px;

    font-family:Arial;
    font-weight:normal;
    font-size:17px;
    line-height:30px;

    vertical-align:middle;
}

.textImage{
    width:30px;height:30px;

    vertical-align:middle;
}