body{
   width:100%;height:100%;

   position:absolute;
   left:0px;top:0px;

   margin:0px;padding:0px;
   box-sizing:border-box;

   background:#000000;
   font-size:0px;
}

header{
   width:100%;height:70px;

   position:relative;
   left:0px;top:0px;

   margin:0px;padding:0px;
   box-sizing:border-box;

   background:#000000;
   border:none;border-bottom:1px solid #404040;
}

.headerTitle{
   width:calc(100% - 70px);height:70px;

   position:absolute;
   left:0px;top:0px;

   margin:0px;padding:0px 0px 0px 15px;
   box-sizing:border-box;

   background:none;border:none;

   color:#FFFFFF;
   font-family:monospace;
   font-weight:1000;
   line-height:70px;font-size:26px;
}

.headerIcon{
   width:70px;height:70px;

   position:absolute;
   right:0px;top:0px;

   margin:0px;padding:20px;
   box-sizing:border-box;

   background:none;border:none;
}

.sobtitle{
   width:100%;height:30px;

   position:relative;
   left:0px;top:0px;

   margin:20px 0px 0px 0px;padding:0px 15px 0px 15px;
   box-sizing:border-box;

   background:none;border:none;

   color:#FF0035;
   font-family:monospace;
   font-weight:normal;
   line-height:30px;font-size:20px;
}
.title{
   width:100%;height:100px;

   position:relative;
   left:0px;top:0px;

   margin:0px;padding:0px 15px 0px 15px;
   box-sizing:border-box;

   background:none;border:none;

   color:#FFFFFF;
   font-family:monospace;
   font-weight:1000;
   line-height:50px;font-size:50px;
}
.subtitle{
   width:100%;height:auto;

   position:relative;
   left:0px;top:0px;

   margin:20px 0px 0px 0px;padding:0px 15px 0px 15px;
   box-sizing:border-box;

   background:none;border:none;

   color:#909090;
   font-family:monospace;
   font-weight:normal;
   line-height:20px;font-size:20px;
}
.text{
   width:100%;height:auto;

   position:relative;
   left:0px;top:0px;

   margin:20px 0px 0px 0px;padding:0px 15px 0px 15px;
   box-sizing:border-box;

   background:none;border:none;

   color:#909090;
   font-family:monospace;
   font-weight:normal;
   line-height:12px;font-size:12px;
}
.whiteText{
   color:#FFFFFF;
   font-weight:1000;
}
.button{
   width:auto;height:32px;

   position:relative;
   left:0px;top:0px;

   margin:15px 0px 0px 5px;padding:0px 10px 0px 10px;
   box-sizing:border-box;
   border-radius:4px;

   background:#1A1A1A;border:none;
}
.button>a{
   color:#FFFFFF;
   font-family:monospace;
   font-weight:normal;
   line-height:12px;font-size:12px;
   text-decoration:none;
   
   vertical-align:middle;
}
.firstButton{
   margin:15px 0px 0px 15px !important;
}
.buttonIcon{
   width:14px;height:14px;

   position:relative;
   left:0px;top:0px;

   margin:0px 10px 0px 0px;padding:0px;
   box-sizing:border-box;

   background:none;border:none;
   vertical-align:middle;
}