body{
    position:absolute;
    
    width:100%;height:100%;

    background:#070707;

    top:0px;left:0px;
    margin:0px;padding:0px;

    box-sizing:border-box;

    font-size:0px;

    overflow:scroll;
}

@keyframes discoBackground {
    0% {
        box-shadow:0px 0px 0px #000000; /* Cor inicial */
    }
    50% {
        box-shadow:0px 0px 50px 50px #5000C070; /* Cor inicial */
    }
    100% {
        box-shadow:0px 0px 0px #000000; /* Cor inicial */
    }
}

@keyframes bright {
    0% {
        filter:saturate(1.0) brightness(1.0);
    }
    50% {
        filter:saturate(1.5) brightness(3.0);
    }
    100% {
        filter:saturate(1.0) brightness(1.0);
    }
}

@keyframes black {
    0% {
        filter:saturate(1.0) brightness(1.0);
    }
    50% {
        filter:saturate(1.5) brightness(0);
    }
    100% {
        filter:saturate(1.0) brightness(1.0);
    }
}

#background{
    position:relative;

    width:100%;height:400px;

    top:0px;left:0px;
    margin:0px;padding:0px;

/*    filter:contrast(1.1);*/

    object-fit:cover;
    object-position:0% 35%;

    z-index:1;
}

#shadow{
    position:absolute;

    width:100%;height:40px;

    top:-40px;left:0px;
    margin:0px;padding:0px;

    z-index:2;
}

#books {
    position: relative;
    width: 100%;
    height: auto;
    top: 0px;
    left: 0px;
    margin: 0px;
    padding: 0px;

    /*display: grid;
    grid-template-columns: repeat(2, max-content);
    justify-content: space-between;
    justify-items: center;
    gap: 10px; /* Ajuste conforme necessário para o espaçamento entre as colunas */*/
}

.book{
    width:50%;height:auto;
    margin:0px 0px 15px 0px;

    vertical-align:top;
}

.blink{
  animation: discoBackground 0.5s infinite alternate;
}
.bright{
  animation: bright 0.3s infinite alternate;
}
.black{
  animation: black 0.2s infinite alternate;
}

#container{
    position:relative;
    
    width:100%;height:auto;

    background:none;

    top:0px;left:0px;
    margin:0px;padding:10px 10px 80px 10px;

    box-sizing:border-box;
    font-family:monospace;
    color:#FFFFFF;

    overflow:scroll;

    z-index:2;
}

.pageTitle{
    position:absolute;
    
    width:60%;height:30px;

    background:#000000B0;

    top:10px;left:10px;
    margin:0px;padding:0px 0px 0px 10px;

    box-sizing:border-box;
    border-radius:4px;

    color:#FFFFFF;
    font-family:Arial;
    line-height:30px;
    font-size:14px;

    z-index:3;
}

.sectionText{
    width:100%;height:auto;

    margin:0px 0px 20px 0px;

    color:#FFFFFF;
    line-height:16px;
    font-size:12px;
    font-family:monospace;
}

h2{
    color:#FFFFFF;
    font-size:18px;

    font-weight:bold;

    margin:10px 0px 10px 0px;
}

.audio-player {
  --player-button-width: 30px;
  --sound-button-width: 20px;
  --space: .5em;
  width: calc(100% - 20px);
  height: 30px;

  position:absolute;

  left:10px;top:360px;

  z-index:2;
}

.audio-icon {
   width: 90%;
   height: 90%;
}

.controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-top:0px;
}

.player-button {
  background-color: transparent;
  border: 0;
  width: var(--player-button-width);
  height: var(--player-button-width);
  cursor: pointer;
  padding: 0;
}

.timeline {
  -webkit-appearance: none;
  width: calc(100% - (var(--player-button-width) + var(--sound-button-width) + var(--space)));
  height: .5em;
  background-color: #e5e5e5;
  border-radius: 5px;
  background-size: 0% 100%;
  background-image: linear-gradient(#101010,#101010);
  background-repeat: no-repeat;
  margin-right: var(--space);
}

.timeline::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0;
  transition: all .1s;
  background-color: #a94672;
}

.timeline::-moz-range-thumb {
  -webkit-appearance: none;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0;
  transition: all .1s;
  background-color: #a94672;
}

.timeline::-ms-thumb {
  -webkit-appearance: none;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0;
  transition: all .1s;
  background-color: #a94672;
}

.timeline::-webkit-slider-thumb:hover {
  background-color: #943f65;
}

.timeline:hover::-webkit-slider-thumb {
  opacity: 1;
}

.timeline::-moz-range-thumb:hover {
  background-color: #943f65;
}

.timeline:hover::-moz-range-thumb {
  opacity: 1;
}

.timeline::-ms-thumb:hover {
  background-color: #943f65;
}

.timeline:hover::-ms-thumb {
  opacity: 1;
}

.timeline::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

.timeline::-moz-range-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

.timeline::-ms-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

.sound-button {
  background-color: transparent;
  border: 0;
  width: var(--sound-button-width);
  height: var(--sound-button-width);
  cursor: pointer;
  padding: 0;
}